body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.button {
  text-transform: uppercase;
  border: none;
  padding: 1vmin;
  cursor: pointer;
}

.button--icon {
  background-color: transparent;
}

.markdown-container {
  display: block;
  text-align: left;
  overflow-y: auto;
}

.form__title {
  font-size: x-large;
  font-weight: bold;
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 1vmin;

  width: 600px;
  max-width: 100%;
  box-sizing: border-box;
}

.form__label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 100%;
}

.form__input {
  align-self: stretch;
}

.form__input--tall {
  height: 240px;
}

.button--submit {
  background-color: coral;
}

.spin {
  animation-name: rotate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.page {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 1vmax;
  width: 100%;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
